/***** CSS RESET *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********************/

/***** CLEARFIX *****/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*********************/


/* Regole generali di base */
body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

.container-70{
    width: 70%;
    margin: 0 auto;
}

ul{
    list-style: none;
    line-height: 5vw;
    font-weight: 500;
    font-size: 0.9vw;
}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color:  #33475b;
}

.float-left{
    float: left;
}


.text-align-right{
    text-align: right;
}

.button{
    background-color: #FE775A;
    text-align: center;
    color: white;
    padding: 0.8vw 0.8vw;
    border-radius: 6px;
    margin: 0vw 0.7vw;
}

/* ************************ */

header{
    background-color: #fff;
}
header nav{
    width: calc(100% / 2);
}

.first-header-row{
    background-color: #F4F9FD;
    width: 100%;
    border: 1px solid black;
}

.left-nav li{
    padding: 0 1vw 0 0;

}
.left-nav li:first-child a:first-child{
    padding: 0.1vw 1vw 0.1vw 0;
    border-right:  0.11vw solid grey;
}

#search{
    margin-right: 0.4vw;
    color: #00a4bd;
}

#login{
    color: #FE775A;
    background-color: transparent;
    border: 1px solid #FE775A;
}

#logo{
    width: 50%;
    height: 5vw;
    line-height: 5vw;
    vertical-align: middle;
}
#navbar-second-row-header i{
    padding: 0vw 0.9vw;
}

.third-header-row{
    position: relative;
    background-color: #FFF4EF;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
    height: 50vw;
}

.bottom-row-header{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #AFEBE4;
    height: 6vw;
    border-top: 3px;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
}
.main-content-header{
    padding-top: 8%;
    width: 48%;
    height: auto;
}
.main-content-header *{
    display: block;
    padding: 1vw 0;
    font-weight: 500;
}
.main-content-header a{
    margin: 0;
    width: 36%;
}
.main-content-header h1{
    font-size: 3vw;
}
.main-content-header :last-child{
    font-size: 0.8vw;
}