/***** CSS RESET *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********************/

/***** CLEARFIX *****/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*********************/


/* Regole generali di base */
body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    background-color: #f5f8fa;
    font-weight: 500;
}
.card{
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(166,166,166,0.4);
    background-color: #fff;
}
.card img{
    display: block;
    padding: 1vw;
    height: 7vw;
    margin: 2vw auto;
}
.inner-card{
    width: calc( calc(100% / 3) - 40px );
    line-height: 1.5vw;
    background-color: #fff;
    text-align: center;
    margin-top: 3vw;
    padding: 1.5vw
}
.inner-card p{
    width: 88%;
    margin: 1vw auto;
    margin-bottom: 3vw;
}
.inner-card h3{
    margin: 2vw 0;
    font-weight: 900;
}
.inner-card h4{
    margin: 1vw 0;
    width: 80%;
    font-weight: 900;
}
.inner-card hr{
    text-align: center;
    margin: 1vw auto;
    width: 88%;
}

.inner-card li{
    display: block;
    text-align: left;
    line-height: 20px;
}
.inner-card ul{
margin-bottom: 3vw;
}
.inner-card:nth-child(2){
    margin: 3vw 60px;
}
.container-70{
    width: 70%;
    margin: 0 auto;
}

.orange{
    color: #FE775A;
    margin-right: 1vw;
}
ul{
    list-style: none;
    line-height: 5vw;
    font-weight: 500;
    font-size: 0.9vw;
}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color:  #33475b;
}
hr{
    background-color: grey;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}
.float-left{
    float: left;
}


.text-align-right{
    text-align: right;
}

.button{
    background-color: #FE775A;
    text-align: center;
    color: white;
    padding: 0.8vw 0.8vw;
    border-radius: 6px;
    margin: 0vw 0.7vw;
}

/* ************************ */

header{
    background-color: #fff;
}
header nav{
    width: calc(100% / 2);
}

.first-header-row{
    background-color: #F4F9FD;
    width: 100%;
    border: 1px solid black;
}

.left-nav li{
    padding: 0 1vw 0 0;

}
.left-nav li:first-child a:first-child{
    padding: 0.1vw 1vw 0.1vw 0;
    border-right:  0.11vw solid grey;
}

#search{
    margin-right: 0.4vw;
    color: #00a4bd;
}

#login{
    color: #FE775A;
    background-color: transparent;
    border: 1px solid #FE775A;
}

#logo{
    width: 50%;
    height: 5vw;
    line-height: 5vw;
    vertical-align: middle;
}
#navbar-second-row-header i{
    padding: 0vw 0.9vw;
}

.third-header-row{
    position: relative;
    background-color: #FFF4EF;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
    height: 50vw;
}

.bottom-row-header{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #AFEBE4;
    height: 6vw;
    border-top: 3px;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
}
.main-content-header{
    padding-top: 8%;
    width: 48%;
    height: auto;
}
.main-content-header *{
    display: block;
    padding: 1vw 0;
}
.main-content-header a{
    margin: 0;
    width: 36%;
}
.main-content-header h1{
    font-size: 3vw;
}
.main-content-header :last-child{
    font-size: 0.8vw;
}
section{
    background-color: #f5f8fa;
}
.powerful-alone{
    width: 70%;
    margin: 3vw auto;
    text-align: center;
}
.powerful-alone img{
    width: 28%;
}
.powerful-alone h2{
    margin-bottom: 1vw;
    font-size: 1.8vw;
    font-weight: bold;
}
.powerful-alone p{
    line-height: 1.5vw;
}
.free-hub-spot{
    padding: 1.5vw 0;
}
.left-hub-spot{
    width: 30%;
    text-align: center;
}

.right-hub-spot{
    width: 60%;
    margin: 2vw auto;
    height: 10vw;
}
.right-hub-spot li{
    margin-right: 1vw;
}
.right-hub-spot p{
    line-height: 1.5vw;
    width: 85%;
}
h3{
    margin-bottom: 1vw;
    text-transform: capitalize;
    font-weight: bold;
}
h4{
    display: inline-block;
    margin-top: 1vw;
    text-transform: uppercase;
    font-weight: 900;
    width: 30%;
} 
.right-hub-spot hr{
    vertical-align: middle;
    display: inline-block;
    width: 63%;
}
#table-section{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    text-align: center;
    color: #fff;
    padding: 3vw;
    line-height: 1.4vw;
}
#table-section h3:nth-child(1){
    font-size: 1.5vw;
    width: 90%;
    margin: 2vw auto;
}
#table-section p:nth-child(1){
    width: 100%;
    margin: 2vw auto;
}
.table{
    margin-top: 5vw;
}

.td-table{
    width: calc( calc(100% / 4));
    border-bottom: 1px solid white;
    padding: 1vw;
}
.tr-table:nth-child(2) .td-table{
    border-bottom: none;
}
.td-table:not(:last-child){
    border-right: 1px solid white;
}


.td-table > img{
    height: 1.8vw;
}
.td-table span{
    display: block;
}
.td-table span:last-child{
    font-size: 0.6vw;
}
.num{
    font-size: 2vw;
    margin: 1vw;
    font-weight: bold;
}
.brands-section{
    height: 40vw;
}

.first-brands-row{
    text-align: left;
    width: 80%;
    margin: 3vw auto;
    height: 30%
}
.left-f-brands-row span{
    font-size: 2vw;
    font-weight: bold;
    display: block;
    margin-bottom: 2.8vw;
}
.left-f-brands-row{
    width: 20%;
    line-height: 1.5vw;
}

.right-f-brands-row{
    width: 80%;
    text-align: right;
}
.right-f-brands-row li{
    width: 16%;
    margin: 0vw 0.5vw;
}
.right-f-brands-row img{
    width:100%;
}
.second-brands-row{
    width: 100%;
    height: 70%;
}
.left-s-brands-row{
    width: 45%;
    height: 100%;
    padding-left: 2vw;
    line-height: 1.6vw;
}
.left-s-brands-row > h3{
    font-size: 1.6vw;
    font-weight: bold;
    width: 85%;
    line-height: 2vw;
}
.left-s-brands-row > *:not(:first-child){
    margin-top: 2vw;
    display: block;
}
.left-s-brands-row > a{
    width: 35%;
    margin-left: 0;
}

.right-s-brands-row{
    background-image: url("../img/woman.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    float: right;
    height: 80%;
}
